<style>
.text-error{
    font-size: 130px;
}
</style>
<div class="ex-page-content text-center" style="margin-top: 100px;">
    <div class="text-error">404</div>
    <h3 class="text-uppercase text-muted font-600">Not Found</h3>
    <p class="text-muted m-t-30">
    Ops... Você não possui permissão para acessar a página solicitada!
    </p>
    <br>
    <a class="btn btn-primary" href="#" onclick="history.back();"> Retornar para página anterior</a>
</div>