<nav aria-label="Page navigation example" class="float-right">
  <ul class="pagination"  ng-if="1 < pages.length">
    <li class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="page-link" href="" ng-click="setCurrent(1)">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
    </li>
    <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="page-link ng-binding" href="" ng-click="setCurrent(pagination.current - 1)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    </li>
    <li class="page-item" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a class="page-link" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>
    <li class="page-item">
        <a class="page-link ng-binding" href="" ng-click="setCurrent(pagination.current + 1)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="" ng-click="setCurrent(pagination.last)">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </li>
  </ul>
</nav>